<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Go to main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>14.09.2020</small>
  </div>

  <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum accusantium laborum quae incidunt unde, asperiores voluptates quasi vitae eius, odio iure ut ducimus. Sequi sit eligendi vel possimus facere? Nulla.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum accusantium laborum quae incidunt unde, asperiores voluptates quasi vitae eius, odio iure ut ducimus. Sequi sit eligendi vel possimus facere? Nulla.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum accusantium laborum quae incidunt unde, asperiores voluptates quasi vitae eius, odio iure ut ducimus. Sequi sit eligendi vel possimus facere? Nulla.</p>
  </div>
</div>
